<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.mdsd.pineapple.ui.buttons.handlers.GenerateJavaCodeHandler"
            id="hu.bme.mit.mdsd.pineapple.ui.buttons.generatejava"
            name="Generate Java Simulation Code">
      </command>
      <command
            defaultHandler="hu.bme.mit.mdsd.pineapple.ui.buttons.handlers.GenerateUICodeHandler"
            id="hu.bme.mit.mdsd.pineapple.ui.buttons.generatejavaui"
            name="Generate Java UI Code">
      </command>
      <command
            defaultHandler="hu.bme.mit.mdsd.pineapple.ui.buttons.handlers.GenerateGraphMLRepresentationHandler"
            id="hu.bme.mit.mdsd.pineapple.ui.buttons.generategraphml"
            name="Generate GraphML Representation">
      </command>
      <command
            defaultHandler="hu.bme.mit.mdsd.pineapple.ui.buttons.handlers.ValidateModelHandler"
            id="hu.bme.mit.mdsd.pineapple.ui.buttons.validatemodel"
            name="Validate Model">
      </command>
      <command
            defaultHandler="hu.bme.mit.mdsd.pineapple.ui.buttons.handlers.ModelConverter"
            id="hu.bme.mit.mdsd.pineapple.ui.buttons.convertmodel"
            name="Convert textual dataflow net to XMI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.mdsd.pineapple.ui.buttons.generatejava"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.mdsd.pineapple.ui.buttons.dataflownetfiledef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.mdsd.pineapple.ui.buttons.generatejavaui"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.mdsd.pineapple.ui.buttons.dataflownetfiledef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.mdsd.pineapple.ui.buttons.generategraphml"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.mdsd.pineapple.ui.buttons.dataflownetfiledef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.mdsd.pineapple.ui.buttons.validatemodel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.mdsd.pineapple.ui.buttons.dataflownetfiledef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.mdsd.pineapple.ui.buttons.convertmodel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.mdsd.pineapple.ui.buttons.dataflownettextfiledef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hu.bme.mit.mdsd.pineapple.ui.buttons.dataflownetfiledef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.dataflownet">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hu.bme.mit.mdsd.pineapple.ui.buttons.dataflownettextfiledef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.dn">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
