<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.invalidTokenForFiringRuleOnChannel"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.InvalidTokenForFiringRuleOnChannelQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.invalidTokenForFiringRuleOnChannel">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.tokenWithTypeForFiringRule"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.TokenWithTypeForFiringRuleQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.tokenWithTypeForFiringRule">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongTokenValueNumberSimple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.WrongTokenValueNumberSimpleQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongTokenValueNumberSimple">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.tokenValue"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.TokenValueQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.tokenValue">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongBooleanValue"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.WrongBooleanValueQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongBooleanValue">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongDoubleValue"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.WrongDoubleValueQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongDoubleValue">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongIntegerValue"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.WrongIntegerValueQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.wrongIntegerValue">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.referenceNotOwnedOrIOChannels"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.ReferenceNotOwnedOrIOChannelsQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.referenceNotOwnedOrIOChannels">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.invalidTransitionBetweenStates"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.InvalidTransitionBetweenStatesQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.invalidTransitionBetweenStates">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.danglingChannel"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.DanglingChannelQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.danglingChannel">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.connectedChannel"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.ConnectedChannelQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.connectedChannel">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.hasNoParent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.HasNoParentQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.hasNoParent">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.hasParent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.HasParentQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.hasParent">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.illegalAccessToFiringRule"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.IllegalAccessToFiringRuleQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.illegalAccessToFiringRule">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.inputOutputFiringRule"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.InputOutputFiringRuleQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.inputOutputFiringRule">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.tooManyChannelUser"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.TooManyChannelUserQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.tooManyChannelUser">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.processToNonTopLevelDataflowNet"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.ProcessToNonTopLevelDataflowNetQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.processToNonTopLevelDataflowNet">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.duplicateNamesOfSiblings"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.DuplicateNamesOfSiblingsQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.duplicateNamesOfSiblings">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nameUniquenessInASystem"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.NameUniquenessInASystemQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nameUniquenessInASystem">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nameInvalidJava"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.NameInvalidJavaQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nameInvalidJava">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.typeNameInvalidJava"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.TypeNameInvalidJavaQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.typeNameInvalidJava">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nonUniqueProcessNames"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.NonUniqueProcessNamesQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nonUniqueProcessNames">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nonUniqueChannelNames"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.pineapple.mdsd.dataflownet.validation.util.NonUniqueChannelNamesQuerySpecification$Provider"
            id="hu.bme.mit.pineapple.mdsd.dataflownet.validation.nonUniqueChannelNames">
      </matcher>
   </extension>

</plugin>
